<header class="clearfix">
    <nav class="navbar">
      <ul>
            <li class="icon-home3"><a href="/books">View Booklist</a></li>
            <li class="icon-address-book"><a href="/add">Add a Book</a></li>
            <li class="icon-github"><a href="http://github.com">GitHub</a></li>
      </ul>
    </nav>
</header>