<header class="clearfix">
    <nav class="navbar">
      <ul>
        <li class="icon-menu" id="toggle-btn"></li>
        <span class="toggleFade">       
        <li class="icon-home3"><a href="/books">View Booklist</a></li>
        <li class="icon-address-book"><a href="/add">Add a Book</a></li>
        <li class="icon-github"><a href="http://github.com">GitHub</a></li>
        <li class="icon-happy"><a href="/searches/new">Search for a Book</a></li>
        </span>
      </ul>
    </nav>
</header>