<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <h2 class="clearfix">Error!  Unfortunately that page does not exist.</h2>
    <p>Click <a href='/books'>here</a> to return to the booklist.</p>
</body>
</html>