body {
    background-color: darkred;
    width: 100%;
    
}
h1 {
    background-color: black;
    color: antiquewhite;
    width: 100%;
    height: 60px;
}
h2 {
    text-align: center;
    background-color: darkslategrey;
}
img {
    max-width: 100%
    padding: 10px;
    margin-top: 10px;
}
body > ul {
    text-align: center;
    width: 60%;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 25px;
    border: 2px rgb(63, 0, 0) solid;
}
body > ul li {
    width: 50%;
    display: inline-block;
    margin: 5px 0px 2px 0px;
}
.title {
    font-size: 25px;
}
.author {
    font-size: 15px;
    color: aliceblue;
}
body > ul a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    line-height: 50px;
}

.navbar {
    width: 100%;    
}
.navbar ul{
    float: right;
    text-align: left;
    background-color: rgb(63, 0, 0);
    padding: 10px 0px;
}
.navbar ul li, .navbar ul li a {
    display: inline-block;
    color: darkgrey;
    font-size: 28px;
    margin: 0px 10px
}
#toggle-btn {
    color: darkgrey;
    font-size: 28px;
    margin: 0px 10px;
}
.clearfix {
    clear: both;
}
#new-book-form > * { /* all elements on new-book-form */
    margin: .1em;
    width: 40%;
    display: block;
    padding: .1em;
    margin-left: auto;
    margin-right: auto;
}
form { /* syling for the form element */
     background-color: rgb(63, 0, 0);
     width: 80%;
     display: block;
     padding-bottom: 2em;
     margin: 0px 10em;
}
#new-book-form > label { /* :label on top */
    font-size: 20px;
    color: bisque;
    background-color: rgb(63, 0, 0);
}
#newBook {
    font-size: 24px;
    font-weight: bold;
    color: darkgrey;
    text-align: center;
}
.toggleFade {
}